<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        GitHubApp
      </a>

      <!-- Menu -->
      <div class="dropdown.dropdown-menu{-sm|-md|-lg|-xl}-left">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catalogos
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Users</a>
          <a class="dropdown-item" href="#">Others</a>
        </div>
      </div>
    </nav>
</nav>